<div class="card text-center">
  <h2>Acerca del Desarrollador</h2>
  
  @if (false) {
    <img src="https://img.freepik.com/vector-gratis/ilustracion-joven-sonriente_1308-174669.jpg?semt=ais_user_personalization&w=740&q=80" alt="Mi foto" class="profile-img">
  }
  
  <div class="contact-info">
<p><strong>Nombre:</strong> José Eduardo Campos Sánchez</p>
    <p><strong>Email:</strong> s.c.eduardo10&#64;gmail.com</p>
    <p><strong>Proyecto:</strong> LifeGoals - Reto de Angular y Firestore</p>
  </div>
</div>