name: CI/CD to Docker Hub

on:
  push:
    branches: [ "master" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del código
        uses: actions/checkout@v3

      - name: Create environment file
        run: |
            mkdir -p src/environments
            cat <<EOF > src/environments/environment.ts
            export const environment = {
              production: true,
              firebase:{ ${{ secrets.FIREBASE_CONFIG }}
            };
            EOF

      - name: Iniciar sesión en Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Construir y subir imagen a Docker Hub
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          # IMPORTANTE: Cambia "tuusuario" por tu nombre de usuario real en Docker Hub
          tags: ${{ secrets.DOCKER_USERNAME }}/lifegoals:latest